{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="conatiner">
    <div class="alert alert-info mt-3 mx-3">
        <h3 class=" d-flex justify-content-center">My Orders</h3>
    </div>
    <div class="row">
        <div class="col-sm-2 my-2 mx-3">
            {% include 'users/sidebar.html' %}
        </div>
        <div class="col my-2 mx-3">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Order No.</th>
                            <th>Total Amount</th>
                            <th>Status</th>
                            <th>Order Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td><a href="{% url 'order_items' order.id %}" class="btn btn-dark btn-sm mx-1">{{order.id}}</a> 
                                <a class="edit_anchor_2" href="{% url 'order_items' order.id %}"><small class="text-muted"><img src="{% static 'images/tap.png' %}"> Go to order details</small></a></td>
                            <td>&#8377;{{order.total_amt|intcomma }}</td>
                            <td>{{order.paid_status}}</td>
                            <td>{{order.order_date}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>





{% endblock %}