{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="conatiner">
    <div class="alert alert-info mt-3 mx-3">
        <h3 class=" d-flex justify-content-center">Change Password</h3>
    </div>
    <div class="row">
        <div class="col-sm-2 my-2 mx-3">
            {% include 'users/sidebar.html' %}
        </div>
        <div class="col my-2 mx-3">
            {% if msg %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{msg}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <table class="table table-bordered">
                <form method="post">
                    {% csrf_token %}
                    <tr>
                        <th>Old Password:</th>
                        <td>{{form.old_password}}</td>
                    </tr>
                    <tr>
                        <th>New Password:</th>
                        <td>{{form.new_password1}}</td>
                    </tr>
                    <tr>
                        <th>Re-Enter Password:</th>
                    <td>{{form.new_password2}}</td>
                    </tr>
                    <tr>
                    <td colspan="2">
                        <ul>
                            <li> Your password can’t be too similar to your other personal information.</li>
                            <li> Your password must contain at least 8 characters.</li>
                            <li> Your password can’t be a commonly used password.</li>
                            <li> Your password can’t be entirely numeric.</li>
                        </ul>
                    </td>
                    </tr>
                    <td colspan="2">
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </td>
                </form>
            </table>
        </div>
    </div>
</div>





{% endblock %}